@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hover-underline {
      position: relative;
    }
    
    .hover-underline::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      transition: width 0.3s ease;
    }
    
    .hover-underline:hover::after {
      width: 100%;
    }
  }